<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
</head>
<body>
    <h1>Página Inicial</h1>
    <nav>
        <ul>
            <li><a href="/cadastro_professor">Cadastro de Professor</a></li>
            <li><a href="/cadastro_turma">Cadastro de Turma</a></li>
            <li><a href="/cadastro_aluno">Cadastro de Aluno</a></li>
            <li><a href="/listar_turmas">Listar Turmas</a></li>
        </ul>
    </nav>
</body>
</html>
